.carousel-inner {
    max-height: $uncuarto;
    height: $uncuarto;
    width: auto;
}

.carousel-inner img {
    max-height: 100rem;
}

.emy {
    top: 16%;    
}

.carro2 {
    height: $uncuarto;
    width: $cienpor;
    img {
        max-height: $uncuarto;
    }
}

